.progress {
  border-radius:0;
  overflow:visible;
}

.progress-bar {
  background:#343434;
  transition:width 3s ease-in-out;
  -webkit-transition:width 3s ease-in-out;
}

#skills.container {
  margin:40px auto;
}

#css3 {
  background:#0087e3;
}

#javascript {
  background:#0087e3;
}

#ruby {
  background:#0087e3;
}

#jquery {
  background:#0087e3;
}

#mysql {
  background:#0087e3;
}

#html {
  background:#0087e3;
}

#api {
  background:#0087e3;
}

#react {
  background:#0087e3;
}

.spacer {
  padding-top:50px;
}

.spacer1 {
  padding-top:20px;
}

.tooltip {
  position:relative;
  float:right;
  z-index:3;
}

.tooltip > .tooltip-inner {
  /*background-color:#eebf3f;*/
  padding:5px 15px;
  color:rgb(249,249,249);
  font-weight:bold;
  font-size:13px;
}

.popOver + .tooltip > .tooltip-arrow {
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  /*border-top:5px solid #eebf3f;*/
}

.progress-bar {
  background:rgb(23,44,60);
  -webkit-transition:width 1.5s ease-in-out;
  transition:width 1.5s ease-in-out;
}

.title {
  font-family:'Roboto';
  font-weight:500;
  color:#000;
  font-size:30px;
  text-transform:uppercase;
  margin:auto;
  text-align:center;
  padding:15px 0 25px 0;
}

.split-line {
  color:black;
  width:100px;
  margin:auto;
  border:1px solid;
  margin-bottom:25px;
}

