.my-nav {
  z-index: 999;
  background: transparent;
  /*margin-left: 60%;*/
}

.my-nav a {
  color: white !important;
}

.my-nav a:hover {
 /* background-color: lightgrey !important;
  border-radius: 50px;*/
}

.my-nav ul li a {
  padding: 0 3.0em !important;
}

.my-carousel {
  margin-top: -60px;
}
